<div class="container">
    <form [formGroup]="form" (ngSubmit)="saveDetails(form)">
      <div class="row">
        <mat-form-field appearance="standard">
          <mat-label>Madre o Padre</mat-label>
          <mat-select [(ngModel)]="parentSelected" formControlName="parentCode" name="parentCode">
            <mat-option *ngFor="let parent of personas" [value]="parent.code">
              {{parent.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="standard">
          <mat-label>Cuidador/a</mat-label>
          <mat-select [(ngModel)]="caretakerSelected" formControlName="caretakerCode" name="caretakerCode">
            <mat-option *ngFor="let caretaker of personas" [value]="caretaker.code">
              {{caretaker.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="standard">
          <mat-label>Inicio</mat-label>
          <input matInput type="datetime-local" formControlName="beginning">
          <mat-error>Campo obligatorio</mat-error>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="standard">
            <mat-label>Duración en minutos</mat-label>
            <input matInput formControlName="duration" placeholder="90">
            <mat-error>Campo numérico obligatorio</mat-error>
        </mat-form-field>
      </div>


      <div class="row">
        <mat-form-field appearance="standard">
            <mat-label>Observaciones</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error>Longitud máxima: 150 caracteres</mat-error>
        </mat-form-field>
      </div>

      <div class="row justify-content-center">
        <div class="col-4 text-center">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Enviar</button>
        </div>
        <div class="col-4 text-center">
          <button mat-raised-button color="secondary" type="button" (click)="goBack()">Volver</button>
        </div>
      </div>
    </form>
</div>
